.navbar {
    padding: 25px !important;
}


.container{
    border: 3px solid #B0E0E6 !important;
    padding: 30px!important;
    margin:center !important;
    width: 700px !important;
    border-radius: 5px !important;
    margin: 3% 3% !important;
  }