<!DOCTYPE html>
<html lang="en">
<head> 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
</head>
<body> 

    <div class="backdrop">

        <div class="imageDiv">
            <!-- <div class="bottomDiv"> -->
            <i class="fas fa-user iconbig"></i>
            <!-- </div> -->
            <p id="p4">SIGN UP</p>
            <p id="p1">Enter details</p>
            <form method="POST" action="{% url 'signup' %}">
              {% csrf_token %}
                <div class="input-container">
                    <i class="fas fa-user icon"></i>
                    <input class="login" type="text" name="fname" placeholder="First name">
                </div>

                <div class="input-container">
                    <i class="fas fa-mobile-alt icon"></i>
                    <input class="login" type="text" name="lname" placeholder="Last name">
                </div>

                <div class="input-container">
                    <i class="fas fa-mobile-alt icon"></i>
                    <input class="login" type="email" name="email" placeholder="Email">
                </div>

                <div class="input-container">
                    <i class="fas fa-mobile-alt icon"></i>
                    <input class="login" type="password" name="password" placeholder="Password">
                </div>

                <div class="input-container">
                    <i class="fas fa-mobile-alt icon"></i>
                    <input class="login" type="password" name="re_password" placeholder="Password">
                </div>

                <div class="input-container">
                    <i class="fas fa-mobile-alt icon"></i>
                    <input class="login" type="text" name="gender" placeholder="Gender">
                </div>

                <div class="input-container">
                    <i class="fas fa-lock icon"></i>
                    <input class="login" type="number" name="age" placeholder="Age">
                </div>

                <!-- <p id="p2">FORGOT PASSWORD</p> -->
                <input id="button" type="submit" value="VERIFY">
                <p id="p3">Already have an account ? <strong><a href="Login.html" target="_blank"> SIGN IN </a></strong>
                </p>
            </form>
        </div>
    </div>
    </body>
</html>   