{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}Web Application{% endblock %}

{% block content %}
<section style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col col-12 pb-5">
                <div class="clearfix"></div>
                <h1 class=" " style="margin-top: 15rem;">Get a Car or Mechanic at your location</h1>
                <p>We offer you cars for rent at best available price </p>
                <p>We offer you a fully specialized Mechanic arround you</p>


            </div>

        </div>
    </div>
</section>
{% endblock %}
