{% extends 'home/base.html' %}

{% block content %}
<h1>Checkout</h1>
<h2>{{ cost_perday }}</h2>
<form method = "POST" action = "{% url 'home' %}">
    <input type = "text" id = "check" name = "check" value = "no" hidden>

    <input type = "text" id = "email" name = "email" value = "{{email_id}}" hidden>

</form>

<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AWzxIpXX4dWGbZVnCCfRh_w7_5R0FEQRMMHlV94gxN39x03aN6q2C95ry1-KNeEIPtIv0HL6qt7DJVgd&currency=USD"></script>
<script>
    var total = '{{ cost_perday }}'
    // Render the PayPal button into #paypal-button-container
    var temp = 0;
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            });
        },


        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                console.log('Hello there');
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                document.getElementById('check').value = "yes";
                var email = document.getElementById('email').value;
                var doct= ["http://127.0.0.1:8000/success/"];
                window.open(doct+"yes/"+email,"_self");

                console.log('kummindi');
                
            });
            console.log('yeoo');


        }


    }).render('#paypal-button-container');

    console.log('kasi');




</script>
{% endblock content %}
