{% extends 'dashboard/index.html' %}

{% load static %}

{% block content %}
<h1>..</h1>



<table class="table table-bordered" style = "margin: 50px;">
    <thead>
        <tr>
          <th scope="col">Verification ID</th>
          <th scope="col">Verified Email</th>
          <th scope="col">Type</th>
          <th scope="col">Earning</th>
        </tr>
      </thead>
    {% for i in verified_cars %}
    <tr>
        <th scope="row">{{ i.sr }}</th>
        <td>{{ i.checked_email }}</td>
        <td>Car</td>
        <td>1000</td>
        <br>
    </tr>
    {% endfor %}

    {% for i in verified_mechs %}
    <th scope="row">{{ i.sr }}</th>
    <td>{{ i.checked_email }}</td>
    <td>Mechanic</td>
    <td>1500</td>
    <br>
    {% endfor %}

</table>
{% endblock content %}