{% extends 'dashboard/index.html' %}

{% load static %}

{% block content %}

<h1>Gave cars page le</h1>
<div class="container shadow p-3 mb-5">
    <form method="POST" action="{% url 'user_gib' %}">
        {% csrf_token %}
        <input class="signup" type="text" name="car_name" placeholder="car_name" value="{{ car_name }}">
        <input class="signup" type="number" name="car_model" placeholder="car_model" value="{{ car_model }}">
        <input class="signup" type="text" name="car_number" placeholder="car_number" value = "{{ car_number }}">
        <input class="signup" type="text" name="co_ordinates" placeholder="co_ordinates" value="{{ co_ordinates }}" disabled>
        <input class="signup" type="text" name="email" placeholder="Email" value = "{{ email_id }}" disabled>
        <input class="signup" type="text" name="is_available" placeholder="is_available" value = "{{ is_available }}">
        <input class="signup" type="text" name="is_verified" placeholder="is_verified" value = "{{ is_verified }}" disabled>
        <input class="signup" type="number" id = "lat"name="lat" placeholder="is_verified" value = "{{ lat }}" hidden step=".01">
        <input class="signup" type="number" id = "long"name="long" placeholder="is_verified" value = "{{ long }}" hidden step=".01">


        <!-- <input class="signup" type="number" name="rating" placeholder="rating" value = "{{ rating }}" disabled>
        <input class="signup" type="number" name="earnings" placeholder="Earnings" value = "{{ earnings }}" disabled> -->
        <input class="signup" type="number" name="cost_perday" placeholder="cost_perday" value = "{{ cost_perday }}">


<div  id="map" style="height:500px">

</div>

        <div class="d-flex justify-content-center mt-3 login_container">
            <input class="btn login_btn" type="submit" value="Register Account">
          </div>
    </form>


    <script>
      function initMap() {
        var latitudes={{lat|safe}};
        var longitudes={{long|safe}};
        console.log(latitudes);
        var myLatlng = {lat: latitudes, lng: longitudes};
        // var myLatlng = {lat: -11.363, lng: 80.044};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatlng
        });

        var temp=[0];
        // addMarker(myLatlng);
        // function addMarker(location) {
        //   var marker = new google.maps.Marker({
        //     position: location,
        //     map: map,
        //   });
        // }

        temp.push(1)
        temp=placeMarker2(myLatlng,temp);


      google.maps.event.addListener(map, 'click', function(event) {
        console.log('here');
        console.log(temp);
        if(temp[1]==0)
        {
          temp=[temp[0]];
          console.log(temp)
        }
        if(temp.length==1)
        {
          temp.push(1)
          console.log(event.latLng)
          temp=placeMarker(event.latLng,temp);

        }
        console.log(temp)
});

function placeMarker2(location,temp) {
    if(temp[1]==1 && temp.length==2)
    {
    var marker = new google.maps.Marker({
        position: location,
        map: map
    });
    google.maps.event.addListener(marker,'click',function() {
      marker.setMap(null);
      temp[1]=0;
      console.log(temp);
    });
    var infowindow = new google.maps.InfoWindow({
      content: 'Latitude: ' + location['lat'] +
      '<br>Longitude: ' + location['lng']
    });
    infowindow.open(map,marker);

  }
    console.log(temp)
    return temp;

}

function placeMarker(location,temp) {
    if(temp[1]==1 && temp.length==2)
    {
    var marker = new google.maps.Marker({
        position: location,
        map: map
    });
    google.maps.event.addListener(marker,'click',function() {
      marker.setMap(null);
      temp[1]=0;
      console.log(temp);
    });
    console.log(location);
    console.log(location.lat());
    var infowindow = new google.maps.InfoWindow({
      content: 'Latitude: ' + location.lat() +
      '<br>Longitude: ' + location.lng()
    });
    infowindow.open(map,marker);
    document.getElementById("lat").value = location.lat().toFixed(2);
    document.getElementById("long").value = location.lng().toFixed(2);

  }
  console.log(temp)
  return temp;
}
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMyd2ikeOMG1xokxmoEuzNLWAU4T6riaQ&callback=initMap">
    </script>


 </div>
{% endblock content %}
