{% extends 'home/base2.html' %}

{% load static %}

{% block content %}
<div style="margin: 70px"></div>
<h1 style="margin: 20px">Mechanic DETAILS</h1>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script>

  $(function () {
      $("#agree").click(function () {
          if ($(this).is(":checked")) {
            console.log('a');
              $("#agree_book").css("visibility", "visible");
          } else {
            console.log('b');
            $("#agree_book").css("visibility", "hidden");
          }
      });
  });


</script>





    <form method="POST" action="{% url 'mech_checkout' %}">
    {% csrf_token %}
    <p style = "margin-left: 50px">{{ g_name }}</p>
    <p style = "margin-left: 50px">{{ service_charge }}</p>
    <p style = "margin-left: 50px">{{ email_id }}</p>
    <div class="float-right">
    <div class = "row">

        <input type="checkbox" id="agree" name="agree" value="Agree" style="float: left;">

        <a href="{% url 'tandc' %}">
         <label for="vehicle2" style="float: left;"> I agree to the terms and conditions </label><br>
        </a>

      </div>
    <div class="row">
      <div id="agree_book" class="d-flex justify-content-center mt-3 login_container" style="visibility: hidden">
        <input type = "text" name = "email_id" value = "{{ i.email_id }}" hidden>
        <input type = "number" name = "service_charge" value = "{{ service_charge }}" hidden>
        <input  class="btn btn-lg btn-primary btn-submit login_btn" type="submit" value="Book this Mechanic">
      </div>
    </div>
  </div>
  </form>



{% endblock content %}
