body{
    background-size: cover;
    background-image: url(CAR.jpg );
    outline: none;
    background-repeat: repeat;
}
.url{
    opacity: 0.5;
}

h2{
    font-size: 30px;
}
#div1{
    margin-top: -8px;
    margin-left: -9px;
    margin-right: -8px;
    background-color: white;
    height: 32px;
    border-bottom: 1px solid rgb(172, 171, 171);
    padding: 0px;
}


#cssmenu-container {
    height: 220px;
    background-color: red;
}

/* Menu container */
#cssmenu {
    margin: 0px auto;
    display: inline-block; /* The menu will have width as needed, not 100% */
    position: relative;
    /* left: 10%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 8px;
    border-radius: 2px; /* Little curvature in the borders */
    overflow: hidden; /* Hide everything that overflows, like shadows */
}

/* Icons */
#cssmenu i {
    transform: scale(1.2);
}

/* Menu */
#cssmenu ul {
    display: flex; /* A key part of our menu, displays items side by side, and allows reversing them */
    flex-direction: row-reverse; /* Reverse the items */
    /* Reset styles, overwrite browser defaults */
    list-style: none;
    margin: 0;
    padding: 0;
}

#cssmenu ul li {
    margin: 0px auto;
    padding: 0px;
}

#cssmenu ul li a {
    display: inline-block;
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    padding: 12px 30px 12px 45px; /* Adjusting padding to get the proper space */
    margin-left: -20px; /* Pull the items to the left, so the rounded right side will get over them */
    color: white;
    background-color: #428EFE;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 100px 100px 0; /* Get the right side rounded */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Apply the shadow */
}

#cssmenu ul li:hover a {
    background-color: #297EFE;
}

/* Remove the shadow for first item, last in the right side when it gets reversed */
#cssmenu ul li:first-child a {
    box-shadow: none;
}

/* Active item is a bit different */
#cssmenu ul li.active a {
    color: #428EFE;
    background-color: #EEF5FF;
}

/* Remove the shadow for the active's next item, to match the design more accurately */
#cssmenu ul li.active + li a {
    box-shadow: none;
}



.imageDiv{
    font-family: Arial, Helvetica, sans-serif;
    color: #0D00A8;
    padding: 50px;
    text-align: center;
    font-size: 1em;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
    background-color: white;
    /* height: 410px; */
    width: 345px;
    padding: 10px;
    border-radius: 35px;
    box-shadow: 0 7px 10px 1px rgba(3, 37, 190, 0.281);
    position: relative;
    /* border: thin solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .bottomDiv{
    border-radius:100%;
    height: 190px;
    width: 190px;
    position:relative;
    bottom:985px;
    left:300px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    border: 7px solid white;
    background-color: #008FF7;
    z-index: 0;
    box-shadow: 0px;
} */
#p1{
    color: #008FF7;
    font-size: 15px;
    padding: 0px 25px;
    text-align: left;
}
#p2{
    color: #0D00A8;
    font-size: 12px;
    padding: 5px;
    /* text-align: center; */
    font-weight: bold;
    margin-top: 20px;
}

#p3{
    color: #0D00A8;
    font-size: 16px;
    /* text-align: center; */
    margin-top: 20px;
}
#p4{
    color: #0D00A8;
    font-size: 25px;
    /* text-align: center; */
    /* margin-top: 70px;*/
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}
/* #p5{
    margin: 0px;
    color: rgb(27, 27, 27);
    font-size: 50px;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; */
/* } */
.login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* margin: 8px 20px; */
    height:25px;
    width:  100%;
    border: 1px solid #0D00A8;
    border-radius: 50px;
    padding: 10px 10px 10px 60px;
    outline: none;
    color: rgb(20, 20, 20);
}

.input-container{
    display: flex;
    position: relative;
    margin: 15px 20px;

}

.icon {
    position: absolute;
  padding: 10px;
  background: white;
  color: black;
  min-width: 25px;
  height: 25px;
  width: 25px;
  font-size: 22px;
  text-align: center;
  border: 1px solid #0D00A8;
  border-radius:50%
}

.iconbig{
    position: absolute;
    /* padding: 20px; */
    background: #008FF7;
    color: white;
    /* min-width: 25px; */
    height: 100px;
    width: 100px;
    font-size: 80px;
    /* text-align: center; */
    border: 4px solid white;
    border-radius:50%;
    top: -10%;
    padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
}


#button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    /* margin: 8px; */
    padding: 5px;
    height:35px;
    text-shadow: 0px 2px 2px 0.2px #7c7c7c54;
    width: 150px;
    border: 2px solid #008FF7;
    border-radius: 50px;
    background-color: #008FF7;
    color: white;
    font-weight: bold;
    outline: none;
    box-shadow: 0px 2px 2px 0.2px #7c7c7c54;

}
.backdrop{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(252, 252, 252, 0.712);
}

#home{
    font-size: 120px;
    color: black;
    text-align: center;
}


.imageDiv form{
    width: 100%;
}
